
@{
    ViewData["Title"] = "ProfileDetails";
}

    <h1>"Hello World"</h1>
@*<div class="text-center">
    <h1 class="display-4">Welcome, @Model.User.UserName</h1>
</div>

<div class="text-left m-5">
    <table class="w-50 bg-light">
        <tr>
            <td class="font-weight-bold">Id</td>
            <td>@Model.User.UserId</td>
        </tr>
        <tr>
            <td class="font-weight-bold">E-mail</td>
            <td>@Model.User.Email</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Registration Date</td>
            <td>@Model.User.RegistrationTime</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Reputation</td>
            <td>@Model.User.Reputation</td>
        </tr>
    </table>
</div>*@

