@model IEnumerable<Kortyérzet.Models.BeerModel> 

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <script src="~/js/site.js"></script>
</head>

<div>
    <a>Styles: </a>
    <select class="selectpicker" id="styleDDL" onchange="selectValue();">
        <option>Select all styles</option>
        @foreach (var style in Kortyérzet.Domain.DataBaseLoader.BeerStyles)
        {
            <option>@style</option>

        }
    </select>
    <p></p>

</div>
<div class="list-group" id="beer-list">
    @foreach (var beer in Model)
    {
    <div class="row">
        <div class="col-xs-2">
            <a class="label" style="display: inline-block">
                <img src="@beer.Logo" height="150" width="150">
            </a>
        </div>
        <div class="col-xl-6">
            <p style="font-size: xx-large;margin-bottom: 2px">
                <a href="@Url.Action("BeerDetails", "Home", new { id = beer.ID })">@beer.Name</a>
            </p>
            <p style="font-size: x-large;margin-bottom: 2px">@beer.Brewery</p>
            <p style="font-size: large;margin-bottom: 2px">@beer.Style</p>

            <p>@beer.Description</p>
            <div class="row">
                <div class="col-xs-4 col-md-3 border bg-light border-left-0">@beer.ABV % ABV</div>
                <div class="col-xs-4 col-md-3 border bg-light">@beer.IBU IBU</div>
                <div class="col-xs-4 col-md-3 border bg-light">Rating: @beer.Rating</div>
                <div class="col-xs-4 col-md-3 border bg-light border-right-0">@beer.TimesRated Ratings</div>
            </div>
        </div>
        </div>
    }


    
</div>